.rmdp-calendar {
    display: none!important;
}

.rmdp-time-picker {
    padding: 4px 0px!important;
    margin-bottom: 0px!important;
}

.rmdp-container .ep-arrow::after {
    box-shadow: none!important;
}

.rmdp-input {
    border-radius: 10px!important;
    padding: 4px 8px!important;
    background: #191735!important;
    border: 2px solid #282950!important;
    margin: 0px!important;
    height: auto!important;
    cursor: pointer!important;
}

.rmdp-input:hover {
    border: 2px solid #fff!important;
}